/* Section background */
.info-section {
  background-color: #ffd1dc; /* light pink */
  padding: 40px 20px;
  height: 598px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Heading styles */
.heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #facc15;
  text-shadow: 1px 1px 3px #000;
}

/* Container flex layout */
.features-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* For screens under 500px */
@media (max-width: auto) {
  .features-container {
    flex-direction: column;
  }
}

/* Box styling */
.feature-box {
  flex: 1;
  padding: 15px;
  max-width: 165px;
  max-height: 165px;
  border-radius: 12px;
  border: 1px solid;
  box-shadow: 0 4px 10px rgba(129, 25, 25, 0.2);
  transition: transform 0.3s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.feature-box:hover {
  transform: scale(1.05);
}

/* Backgrounds & borders */
.feature-1 {
  background: linear-gradient(to bottom right, #dcd634, #2a2a40);
  border-color: #facc15;
}

.feature-2 {
  background: linear-gradient(to bottom right, #b3dbec, #1b4f5d);
  border-color: #67e8f9;
}

.feature-3 {
  background: linear-gradient(to bottom right, #d4113f, #84d53c);
  border-color: #f9a8d4;
}

/* Icon-title row */
.icon-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: -35px;
}

/* Icon and title */
.icon {
  font-size: 20px;
}

.title {
  font-size: 0.3rem;
  font-weight: bold;
  color: #fff;
}

/* Descriptions */
.desc {
  font-size: 13px;
  color: #ddd;
  line-height: 1.3;
}
